.header-container {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.header-container .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.header-container .logo img {
    width: 5rem;
}

.header-container .buttons nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-container .buttons nav button {
    border: 1px solid #FFF;
    background: none;
    width: 3.75rem;
    height: 1rem;
    color: #FFF;
    font-size: .555rem;
    cursor: pointer;
    margin: .312rem;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

.header-container .buttons button:hover {
    background: #FFF;
    color: #000;
}

.filter-selected {
    background: #FFF !important;
    color: #000 !important;
}