* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --message: #E1C767;
    --message-success: #756013;
    --message-warn: #E7531A;
    --message-error: #710F17;
}

body {
    background: #000;
    background-image: url('./assets/images/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}

html {
    font-size: 16px;
}

.app-container {
    width: 80%;
    height: auto;
    margin: 0px auto;
}

@media screen and (min-width: 25em) {
    html {
        font-size: calc(16px + (22 - 16) * (100vw - 400px) / (800 - 400));
    }
}

@media screen and (max-width: 40em) {
    html {
        font-size: calc(16px + (22 - 16) * (100vw - 400px) / (800 - 400));
    }
}